# dependencies
node_modules
.pnp
.pnp.js

# turbo
.turbo

# build outputs
dist
build
out

# env files
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# sensitive local notes
*.txt
